.transactionHistory {
    margin: 0 auto;

    @media screen and (min-width: 320px) and (max-width: 420px) {
        max-width: 320px;
    }

    @media screen and (min-width: 421px) {
        width: 320px;
    }

    background-color: rgb(255, 255, 255);

    border-radius : 8px;
    border-spacing: 0;

    box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);

    overflow: hidden;

    thead {
        tr {
            background-color: rgb(115, 156, 209);
            color           : #fff;
        }
    }

    th,
    td {
        padding: 11px;
    }

    th:not(:last-child),
    td:not(:last-child) {
        border-right: 1px solid rgb(216, 215, 215);
    }

    tbody {
        tr {
            font-size: 14px;
            color    : rgb(143, 139, 139);

            &:nth-child(even) {
                background-color: rgb(245, 238, 238);
            }
        }
    }

    .type {
        text-transform: capitalize;
    }
}